<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
  {% extends "base.html" %}
  {% block content %}
  <h1>לוח בקרה</h1>
  <p>Welcome, {{ username }}!</p>
  {% if survey %}
    <h2>פרטים אישיים</h2>
    <p>שם הילד: {{ survey.child_name }}</p>
    <p>תעודת זהות: {{ survey.child_id }}</p>
    <p>גיל: {{ survey.age }}</p>
    <p>מין: {{ survey.gender }}</p>
    <p>אבחנה: {{ survey.diagnosis }}</p>
    <p>גיל באבחנה: {{ survey.diagnosis_age }}</p>
    <p>מסגרת חינוכית: {{ survey.educational_framework }}</p>
    <p>תיאור: {{ survey.description }}</p>
    <a href="{{ url_for('survey.edit_survey', survey_id=survey.id) }}" class="btn btn-warning">ערוך פרטים</a>
  {% else %}
    <h2>לא הוזנו פרטים אישיים  </h2>
    <p>לא הוזנו פרטים עבור המשתמש הנוכחי.</p>
    <a href="{{ url_for('survey.survey') }}" class="btn btn-primary">הוסף פרטים אישיים </a>
  {% endif %}
  {% endblock %}
</body>
</html>
